@import url('https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap');
:root{
    --sucess-color: green;
    --error-color: orangered;
}
 *{
    box-sizing: border-box;
  }

body
    {
        background-color: #ECF0F1;
        font-family: 'Spline Sans', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0%;
    }

.container
    {
        background-color: white;
        border-radius: .5pc;
        box-shadow: 0pc 3pc 15pc rgba(0,0,0,0.3) ;
        width: 22pc;
    }
 h2
    {
        text-align: center;
        margin: 0 0 2pc;
        font-family:'Times New Roman', Times, serif;
    }
.form{
        padding: 2pc 5pc;
    }

.form-control{
        margin-bottom: 0.3pc ;
        padding-bottom: 0.4pc ;
        position: relative;
    }

.form-control label{
        color: #777;
        display: block;
        margin-bottom: 00.3pc;
    }

.form-control input{
        border: 0.2pc solid #ECF0F1;
        border-radius: .5pc;
        display: block;
        width: 10pc;
        padding: .3pc;
        font-size: .8pc;
    }
.form-control input:focus{
        outline: 0;
        border-color: burlywood;
    }
.form-control.sucess input{
        outline: 0;
        border-color: var(--sucess-color);
    }
.form-control.error input{
        outline: 0;
        border-color: var(--error-color);
    }
.form-control small{
    color: var(--error-color);
    position: relative;
    bottom: 0;
    left: 0;
    visibility: hidden;
}
.form-control.error small{
    visibility: visible;
}
.form button{
    cursor: pointer;
    background-color: navy;
    border-color:.2pc solid navy;
    border-radius: .5pc;
    color: white;
    font-size: 1pc;
    padding: .5pc;
    margin-left: .3pc;
    width: 10pc;
}